@import '../../Main';

.new-expense {
  &__title {
    font-size: 1.5rem;
    margin: 0 0 10px;
  }

  .car-element.is-active {
    background-color: $main-light;
  }

  .item-selector {
    padding: 5px;
    font-size: 1.5rem;
    margin: 0 5px 5px 0;

    &.is-active {
      background-color: $main-light;
    }
  }

  &__type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__fuels {
    display: flex;
    flex-direction: row;
  }

  &__insurances {
    display: flex;
    flex-direction: row;
  }
}