$main-color: #1497cc;
$main-darker: #05668e;
$button-color: #049609;
$background-color: #d3dde2;

$lowest-z-index: 2;
$low-z-index: 10;
$med-z-index: 30;
$med-plus-z-index: 35;
$high-z-index: 50;
$highest-z-index: 60;


$medium: '768px';
$large: '1024px';
$xlarge: '1200px';