@import '../../Main';

.content-container {
  width: 100%;
  background-color: #ededed;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px $main-darker;
  margin-bottom: 15px;
  //margin: 0 auto 20px;
}